<footer id="contact" class="section">
  <div class="max-container">
    <ul class="contact__links">
      <li>
        <a
          class="contact__link"
          href="https://www.youtube.com/@kingsheroncmn"
          target="_blank"
          title="my github link"
        >
          <i class="fa-brands fa-youtube"></i>
        </a>
      </li>
      <li>
        <a
          class="contact__link"
          href="https://www.instagram.com/kings_hero0214/"
          target="_blank"
          title="my linkedin link"
        >
          <i class="fa-brands fa-instagram"></i>
        </a>
      </li>
    </ul>
    <p class="description">nmcnKingHero@test.com</p>
    <p class="description">ⓒ NCMN. Nations-Changer Movement & network.</p>
  </div>
</footer>
