@media (max-width: 767px) {
  #login {
    padding: 2rem 1rem; /* Adjust padding for smaller screens */
  }

  .login_from {
    width: 380px;
  }

  .login_title {
    font-size: 2rem; /* Decrease font size for smaller screens */
  }

  #username,
  #password {
    width: 100%; /* Make the input fields full-width */
  }

  .home__title {
    height: 160px;
  }

  .login__container {
    margin-top: 2rem; /* Add some space between the avatar and the form */
    font-size: 1rem;
  }

  .login_menu li {
    padding: 0 0.5rem; /* Adjust spacing for menu items */
    border-right: none; /* Remove right border for the last menu item */
    font-size: 13px;
  }

  #login_menu2 {
    border-left: 1px solid var(--color-white);
    border-right: 1px solid var(--color-white);
  }
}
